; <?php exit(); ?>
; above line stops file being exposed through website
; config file for error messages

[email_recipients]
recipients[] = 'me@example.com'

[email_subject]
subject = 'Survey error'

[error_strings]
strings[MissingIdentifierAndWeek] = 'Community or date are missing'
strings[UnrecognisedCommunity] = 'Community (%1$s) is not recognised'
strings[UnrecognisedDate] = 'Date not formatted correctly (community %1$s)'
strings[ItemCountMismatch] = 'Number of answers (in %2$s) does not match number of questions (community %1$s)'
strings[ProblemAddingAnswer] = 'Unable to add answer %3$s to question %2$s (community %1$s)'
