; config file for error messages

[email_recipients]
recipients[] = 'me@example.com'

[email_subject]
subject = 'Survey error'

[error_strings]
strings[MissingIdentifierAndWeek] = 'Identifier or date are missing'
strings[UnrecognisedMonitora] = 'Monitora identifier is not recognised'
strings[UnrecognisedDate] = 'Date not formatted correctly (monitora %1$s)'
strings[ItemCountMismatch] = 'Number of answers (in %2$s) does not match number of questions (monitora %1$s)'
strings[ProblemAddingAnswer] = 'Unable to add answer %3$s to question %2$s (monitora %1$s)'
